@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* adding background image */
.DashboardPage, .PostsPage {
  background-image: url('images/day_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

/* adding background image */
.LandingPage, .LoginPage, .SignUpPage {
  background-image: url('../public/images/night_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
  height: 100vh;
}