@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* adding background images to dashboard and posts page */
body {
  background-image: url('images/discgolfday.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  height: 100vh;
}

/* .DashboardPage {
    background-image: url('images/discgolfaction.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    height: 100vh;
} */

/* adding background images to landing, login and sign up pages */
.LandingPage,
.LoginPage,
.SignUpPage {
  background-image: url('images/discgolfnight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

/* centering welcome text on landing page */
.LandingPage {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* overriding default styling for react-router-dom Link component */
.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: #535bf2;
}

/* overriding mui MenuItem font */
.roboto-font {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/* displaying CreatePost and FilterPosts components next to each other */
.posts-container {
  display: flex;
  justify-content: space-between;
}

/* hide vertical scrollbar to prevent background image shifting when modal and dropdowns appear */
::-webkit-scrollbar {
  display: none;
}

/* centering no matching posts notification on page */
.no-posts {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
}