@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* adding background images to dashboard and posts page */
body {
  background-image: url('images/discgolfday.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  background-attachment: fixed;
  height: 100vh;
}

/* adding background images to landing, login and sign up pages */
.LandingPage,
.LoginPage,
.SignUpPage {
  background-image: url('images/discgolfnight.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

/* centering welcome text on landing page */
.LandingPage {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
}

/* overriding default styling for react-router-dom Link component */
.link {
  text-decoration: none;
  color: #535bf2;
}

.link:hover {
  text-decoration: underline;
}

/* positioning welcome text on landing page */
.welcome-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 1.25rem;
  width: 50%;
  margin-right: 100px;
  text-align: justify;
  font-style: italic;
}


.welcome-header {
  font-family: 'Bangers';
  font-size: 2.5rem;
}

/* animation for welcoming text to fly in from offscreen */
.welcome-text {
  opacity: 0;
  animation-name: fly-in-and-bounce-back;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes fly-in-and-bounce-back {
  0% {
    opacity: 0;
    transform: translateX(100%) translateY(0);
  }

  40% {
    transform: translateX(-10%) translateY(-10%);
  }

  70% {
    transform: translateX(5%) translateY(5%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%) translateY(0);
  }
}

/* overriding mui MenuItem font */
.roboto-font {
  font-family: 'Roboto Condensed', sans-serif !important;
}

/* displaying CreatePost and FilterPosts components next to each other on desktop */
.posts-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* change PostsPage to stack vertically on mobile */
@media (max-width: 767px) {
  .posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* adding space between and around select dropdowns in FilterPosts component */
.filter {
  margin: 24px;
}

.select {
  margin: 5px;
}

/* changing layout of FilterPosts component for mobile */
@media only screen and (max-width: 767px) {
  .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter>div {
    margin: 10px;
    flex: 1 1 40%;
    max-width: 40%;
  }
}

/* hide vertical scrollbar to prevent background image shifting when modal and dropdowns appear */
::-webkit-scrollbar {
  display: none;
}

/* centering no matching posts notification on page */
.no-posts {
  font-family: 'Roboto Condensed', sans-serif;
  display: flex;
  justify-content: center;
}

/* styling messages that give signup and login feedback */
.err-msg {
  font-family: "Roboto Condensed", sans-serif !important;
  font-weight: 300;
  text-align: center;
  color: red;
  height: 10px;
  margin-top: 5px;
  background-color: aliceblue;
  height: auto;
  border-radius: 5px;
}


.success-msg {
  text-align: center;
  color: limegreen;
  background-color: aliceblue;
  height: auto;
  border-radius: 5px;
}

.dash-welcome {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}

/* make Comments, Edit and Delete buttons display next to each other */
.comment-edit-buttons {
  display: flex;
  flex-direction: row;
}

